body {
  font-family: 'Roboto', sans-serif;
}

/* always the screen size of your actual screen, viewport */

.height {
    
  min-height: 100vh;   
}

.title-underline {
  width: 150px;
  height: 2px;
  margin: 0 auto;  /* the first value is top/bottom and second value for left/right */
}

.height-80 {
  min-height: 80vh;
  
}

.about-picture {
  background: url(../img/sand.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

@media (min-width: 576px) {
  img {
    width: 300px;
    max-height: 200px;
    object-fit: cover;
  }
}