body {
  font-family: 'Roboto', sans-serif;
}

/* always the screen size of your actual screen, viewport */

.height {    
  min-height: 100vh;   
}

.height-50 {
  min-height: 50vh;
}

.title-underline {
  width: 150px;
  height: 2px;
  margin: 0 auto;  /* the first value is top/bottom and second value for left/right */
}

.height-80 {
  min-height: 80vh;  
}

.about-picture {
  background: url(../img/sand.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

/* img:hover {
  transition: transform 0.5s ease;
  transform:scale(1.02);
}
 */

.img-wrapper {
  width: auto;
  height: 300px;
  object-fit: cover;
}
 
.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

/****** Media Queries *******/

@media (min-width: 576px) {
  img {
    width: 400px;
    max-height: 300px;
    object-fit: cover;
  }
}


